* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  height: 5vh;
}

.current-settings {
  width: 350px;
  margin: 0 auto 30px auto;
  border: 1px dotted grey;
  padding: 10px 15px;
}

.current-settings p {
  margin: 2px 0;
}

.container {
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border: 1px dotted #222;
}

.item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(1) {
  background: pink;
}

.item:nth-child(2) {
  background: lavender;
}

.item:nth-child(3) {
  background: plum;
}

.item:nth-child(4) {
  background: rgb(255, 215, 155);
}

.controls {
  margin: 0 20px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35vw;
  margin: 5px 0 30px 0;
}

button {
  text-align: center;
  padding: 0 10px;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  background: #fff;
  border: 1px dotted grey;
}

button:hover {
  transform: scale(0.99);
  background: lavender;
}

button:active {
  transform: scale(0.98);
}

@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
  }

  .container {
    height: 275px;
    width: 85vw;
    margin: 0 auto;
  }

  .controls {
    margin-top: 20px;
  }

  .item {
    padding: 5px;
  }

  .button-group {
    width: 90vw;
    margin: 5px 0 20px 0;
  }

  button {
    height: 40px;
  }
}
